@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>League of Legends Guides Blog</h1>
 </div>

<section class="row">
    <article class="post col-md-4">
        <h2>Blog Post</h2>
        <div>Created on <i>01/01/2016</i> by <i> Hristo</i></div>
        <p>
            Post text
        </p>
    </article>

    
</section>